<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Policy" data-toggle="tab">Asset Labeling</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">

                            <table class="table table-bordered">
                              <tr>                                
                                <th>Name</th>
                                <th>Classification Criteria</th>
                            </tr>

                            <% @labellings.each do |labelling| %>
                            <tr>
                                <td><%= labelling.name %></td>
                                <td><%= labelling.criteria %></td>
                                <td><%= link_to 'Show', labelling %></td>
                                <td><%= link_to 'Edit', edit_labelling_path(labelling) %></td>
                                <td><%= link_to 'Destroy', labelling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                                </tr>
                                <% end %>
                            </table>

                        <br />

                        <%= link_to 'New Labelling', new_labelling_path, :class => "pure-button pure-button-primary"  %>
                    </div>
                </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>


