<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
      <p id="notice"><%= notice %></p>

      <p>
        <b>Classification Type</b>
        <%= @businessunit.b_name %>
      </p>

      <p>
        <b>Name</b>
        <%= @businessunit.b_site %>
      </p>

      <p>
        <b>Type</b>
        <%= @businessunit.b_area %>
      </p>

      <p>
        <b>Classification Criteria</b>
        <%= @businessunit.b_city %>
      </p>

      <p>
        <b>Value</b>
        <%= @businessunit.b_state %>
      </p>


      <%= link_to "Create PDF", businessunit_path(@businessunit, :format => "pdf") , :class => "pure-button pure-button-primary"  %>
      <%= link_to 'Edit', edit_businessunit_path(@businessunit) , :class => "pure-button pure-button-primary" %> 
      <!--      <%= link_to 'Back', businessunits_path , :class => "pure-button pure-button-primary" %> -->

      <%= link_to 'New Asset Type', new_businessunit_path , :class => "pure-button pure-button-primary"  %>

    </div>
  </div>
  <!--   <div id="footer">Footer</div> -->

</body>
</html>
