<html>
<head>
    <title></title>
</head>
<body>
    <div id="header">
        <div><img src="/images/fixnix.png"></div>
    </div>
    <div id="main-wrap">
        <div id="sidebar">
            <%= render :partial => "layouts/menu" %>
        </div>
        <div id="content-wrap">
            <div class="sapn10 offset well">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Policy" data-toggle="tab">Asset</a></li>
                        <li><a href="#EP" data-toggle="tab">Existing Asset</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="Policy" class="tab-pane active">
                            <table class="table table-bordered">
                                <tr>
                                   <th>Asset ID</th>
                                   <th>Asset</th>

                               </tr>
                               <% @policies.each do |policy| %>
                               <tr>
                                <td><%= policy.p_code %></td>
                                <td><%= policy.p_name %></td>
                                <td><%= link_to 'Show', policy %></td>
                                <!-- <td><%= link_to 'Edit', edit_policy_path(policy) %></td> -->
                                <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                            <% end %>
                        </table>
                        <br />
                        <%= link_to 'New Asset', new_policy_path , :class => "pure-button pure-button-primary" %>
                    </div>
                    <div id="EP" class="tab-pane">
                        <h4>Existing Asset</h4>
                        <p> Coming Soon ...</p>
                    </div>
                </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
        </div>
    </div>
</div>
<!-- <div id="footer">Footer</div> -->
</body>
</html>



